
<br/><br/><br/>
<h2>Add</h2>
    <form class="form-horizontal" [formGroup]="formulario" novalidate (ngSubmit)="onSubmit()" >
    <div>
        <input type="hidden" #id formControlName="id" name="id" id="id"/>
        <h4>CustomerModel</h4>
        <hr />
        <div class="example-container">
            <mat-form-field>
                <input matInput #name formControlName="name" placeholder="Nome" usernameValidator>
            </mat-form-field>
            <div *ngIf="formulario.get('name').errors">
                <div *ngIf="formulario.get('name').errors.usernameTaken === formulario.get('name').value && formulario.get('name').value !== customer.name">
                    Já existe usuário com esse nome.
                </div>
                <div *ngIf="formulario.get('name').errors.usernameNotAllowed">
                    Nome de usuário não permitido.
                </div>
            </div>
        </div>
        <input type="checkbox" #active formControlName="active" id="active" name="active">Ativo
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" [value]="formulario.get('id').value > 0 ? 'Save' : 'Create'" class="btn btn-default" [disabled]="!formulario.valid" />
            </div>
        </div>
    </div>
</form>